@import url("./general.css");
@import url("./navBar.css");

/* Header */
header {
  height: calc(100vh - 50px);
  background: url("../images/Header-camp.jpeg") center center/cover no-repeat;
  position: relative;
}

.header__content {
  width: 800px;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--dark-color);
  text-transform: capitalize;
}

/* Main Content */
.main__content {
  background: rgba(34, 60, 80, 0.07);
}
.main__text {
  text-align: center;
  font-size: 1.3rem;
}

.main--bold {
  display: block;
  padding: 12px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Start what section */

.what {
  max-width: 800px;
  margin: auto;
}
.what__header {
  text-align: center;
}
.what__header h2 {
  padding: 12px 0;
}
.what__header h3 {
  text-decoration: underline;
  font-size: 20px;
}
.what__content {
  padding: 20px 0;
}

.what__goal {
  margin: 50px 0;
}
.what__goal h4 {
  margin-bottom: 20px;
  font-size: 28px;
}
.what__goal p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.what__join {
  text-align: center;
}

.what__join .btn {
  background: var(--dark-color);
  font-size: 20px;
  padding: 18px 30px;
}
.what__join .btn:hover {
  color: var(--golden-color);
  opacity: 1;
  transform: scale(1.3);
}
@media (max-width: 850px) {
  /* Header */
  .header__content {
    width: 100%;
  }
}
